.home__landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
}

.home__column {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.home__column.left {
    color: #fff;
    font-family: sans-serif;
    text-align: left;
    border-radius: 8px;
}

.home__column.left h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}
.home__column.left h1 span {
    color: #1ED760;
}

.home__column.left p {
    font-size: 1.25rem;
}