.header__container {
    width: 100%;
    max-width: 100vw;
    height: 80px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    overflow-x: clip;
}

.header__logo h1 {
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    margin: 0;
    color: #fff;
    word-wrap: break-word;
}

.header__logo h1 span {
    color: #1ED760;
}

.header__nav {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.header__nav button {
    background: none;
    border: none;
    color: #b3b3b3;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
    font-family: inherit;
}

.header__nav button:hover {
    color: #1ED760;
}

.header__link {
    background: none;
    text-decoration: none;
    border: none;
    color: #b3b3b3;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
    font-family: inherit;
}

.header__link:hover {
    color: #1ED760;
}

.header__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid #1db954;
    transition: transform 0.2s ease;
}

.header__avatar:hover {
    transform: scale(1.1);
}


@media (max-width: 600px) {
    .header__container {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .header__nav {
        margin-top: 0.5rem;
        gap: 1rem;
        justify-content: center;
    }
    
    .header__logo h1 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .header__container {
        padding: 0.5rem;
    }
    
    .header__nav {
        gap: 0.5rem;
    }
}